# Python
*~
*.py[cod]
*.so
*.orig
*.log
*.pot
.cache/*
.*.swp
**.egg-info
**.mypy_cache
**__pycache__

# DeepOBS data
data_deepobs/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
